.root {
    -fx-background-color: linear-gradient(to bottom right, #1f1c2c, #928dab); /* deep purple to gray gradient */
    -fx-background-radius: 20;
    -fx-padding: 20;
}

.tab-pane {
    -fx-background-radius: 15;
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 20, 0, 0, 3);
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button {
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(to bottom, #6dd5ed, #2193b0);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #2193b0, #6dd5ed);
}
